.footer{
  margin-top:5%;
  background-color: darkslategray;
}
.footer-headding{
      font-weight: 600;
      color:whitesmoke;
}
.footer-text{
  text-decoration: none;
  color: whitesmoke;
}
.footer-text-align{
  text-align: center;
}